   @model IEnumerable<elguero.Entities.Eventos.MenuEventos>
   @{
    Layout= "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Menu de Eventos";
}

<div class="pageheader">
                        <div class="media">
                            <div class="pageicon pull-left">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="media-body">
                                <ul class="breadcrumb">
                                    <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                                    <li><a href="#">Páginas</a></li>
                                    <li>Menu de Eventos</li>
                                </ul>
                                <h4>Menu de Eventos</h4>
                            </div>
                        </div><!-- media -->
                    </div><!-- pageheader -->

<div class="contentpanel contentpanel-mediamanager">
     <div class="media-options">
         <div class="pull-left">
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <a id="nuevo" class="btn btn-default btn-sm" type="button" asp-area="" asp-controller="Admin" asp-action="CrearMenuEventos">Agregar Menu</a>
                                    </div>
                                </div><!-- btn-toolbar -->
                            </div>
     </div>
     <hr>

      <div class="row">
                          <div class="col-sm-9">
                            <div class="row media-manager">
                                <!--- aquí generamos la parte de la imagen-->
                                  
                                 @foreach(var item in Model ){ 
                                    <div class="col-xs-6 col-sm-4 col-md-3 image">
                                    <div class="thmb">
                                        <div class="ckbox ckbox-default">
                                   
                                  </div>
                                            <div class="btn-group fm-group">
                                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                         </button>
                                          <ul class="dropdown-menu fm-menu pull-right" role="menu">
                                        <li><a asp-area="" asp-controller="Admin" asp-action="EditarMenuEventos" asp-route-id="@item.Id"><i class="fa fa-pencil"></i> Editar</a></li>
                                        <li><a href="#"><i class="fa fa-trash-o"></i> Borrar</a></li>
                                      </ul>
                                      </div><!-- terminamos el menú-->
                                      <!-- apartado de la imagen -->
                                       <div class="thmb-prev">
                                    
                                      <img src="@Html.DisplayFor(modelItem=>item.RutaImage)" class="img-responsive" alt="" />
                                    
                                  </div>
                                    <h5 class="fm-title"><a href="#">@Html.DisplayFor(modelItem=>item.Platillo)</a></h5>
                                  
                                    </div>                  
                                    </div>
                                 }
                            </div>
                          </div>
      </div>
</div>